<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>项目首页</title>
    <link type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/css/theme.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/images/icons/css/font-awesome.css" rel="stylesheet">
    <script src="__PUBLIC__/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        var module_url = "__MODULE__";
    </script>
<body>
<include file="Common/header"/>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span3">
                <include file="Common/narbar"/>
            </div>
            <div class="span9">
                {__CONTENT__}
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">系统提示</h4>
            </div>
            <div class="modal-body" id="modifytoast">本次信息添加成功</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="modal_sure" style="display:none">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>

